// Custom-Variables
$primary-color: #117cad;
$secondary-color: #2e82cc;
$background-color: #F4F7FB;
$text-color: #333;
$border-color: #ccc;
$font-family-main: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$font-family: 'Helvetic', Helvetica, Arial, sans-serif;


// Override Bootstrap themes

//  Import sass
// @import "../node_modules/bootstrap/scss/bootstrap";

body{
   background-color: $background-color;
   color: $text-color;
   margin: 0;
   padding: 0;
}

// navbar
.navbar {
  background-color: $primary-color;
  padding: 25px 15px;
  font-family: $font-family-main;

  .navbar-brand {
     color: white;
     font-size: 2rem;

     &:hover {
       color: darken(white, 10%);
     }
  }

  .nav-link {
    color: white;
    &:hover {
      color: darken(white, 10%);
      text-decoration: underline;
    }
  }

  .navbar-toggler{
    border-color: rgba(255, 255, 255, 0.5);
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: $primary-color;
  text-align: center;
  margin-bottom: 30px;
  font-family: $font-family-main;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  input[type='text']{
     padding: 10px;
     font-size: 16px;
     border: 2px solid $primary-color;
     border-radius: 4px;
     width: 300px;
     margin-right: 28px;
  }

    #Search-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: $primary-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: lighten($color: $primary-color, $amount: 15%);
    }
  }
}

.news-article {
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-10px);
  }

  img{
    max-width: 100%;
    height: aut0;
    display: block;
  }

  h5 {
    margin: 0;
    padding: 10px;
    background-color: $primary-color;
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: $font-family;

    a{
      color: inherit;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
    }
  }

  p {
    padding: 15px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}